/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Manrope/Manrope-Light.ttf) format('truetype');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Manrope/Manrope-Light.ttf) format('truetype');
    unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Manrope/Manrope-Light.ttf) format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Manrope/Manrope-Light.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-family: Manrope, serif;
    font-weight: 400;
    color: #2F2F2F;
    position: relative;
}

.container {
    width: 340px;
    height: 300px;
}

header {
    width: 100%;
    text-align: center;
    padding: 6px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 22px;
    color: #FA770F;
    text-decoration: none;
}

.logo img {
    margin-right: 15px;
}

.line-separator {
    padding: 3px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.d-none {
    display: none !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pb-5 {
    padding-bottom: 5px;
}

.main-loader {
    text-align: center;
    padding: 15px;
}

.content {
    height: 300px;
    padding: 30px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register {
    text-align: center;
}

.register a {
    color: #FA770F;
}

.register a:hover {
    color: #FA770F;
    text-decoration: none;
}

.balance-container {
    display: block;
    align-items: left;
    color: #FA770F;
    margin: 0 0 15px 0;
}

.balance-container img { 
	height: 20px;
	width: auto;
}

.balance {
	font-weight: bold;
    margin-left: 7px;
}

.api-control {
    position: relative;
}

.api-control input {
    background: #F4F6FA;
    border: 1px solid #DAE1EE;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    line-height: 19px;
    padding: 10px 20px 10px 15px;
    display: block;
    width: 100%;
}

.api-control button {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.api-control button.loading {
    opacity: 0.5;
}

.user-container {
    display: block; 
	float: left;
}

.email-container {
    display: block;
    align-items: left;
	color: #FA770F;
}

.email-container img {
    margin-right: 7px;
	color: #FA770F;
	height: 18px;
	width: auto;
}
 
.logout {
    display: block;
    align-items: right;
    color: #FA770F;
    text-decoration: none;
    line-height: 130%; 	
	text-align: right
} 

.logout:hover, .logout:focus {
    text-decoration: none;
} 

.logout img {
	text-align: right
    margin-right: 7px;
	height: 19px;
	width: auto;	
}
 
.right-container {
    display: block; 
	float: rigth;	
}

.rate-container {
    display: block;
    align-items: right !important;
    color: #FA770F;
    margin: 0 0 15px 0;
	text-align: right;
}

.rate-container img { 
	height: 20px;
	width: auto;
}


.user-info {
	width: 100%;
}
	
.result {
    margin-top: 5px;
    font-size: 13px;
}

.error {
    color: #cd3939;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td + td {
    padding-left: 16px;
}

table td:last-child {
    text-align: right;
}

table td:first-child {
    text-align: left;
}

table tr:last-child td {
    border-bottom: none;
}

.switch {
    display: inline-block;
    position: relative;
    margin: 0 0 3px;
}

.switch input {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 0;
    cursor: pointer;
}

.switch label {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: url(../assets/images/off.svg) no-repeat;
}

.switch input:checked + label {
    background: url(../assets/images/on.svg) no-repeat;
}

.auto-solver-on strong {
    color: #FAB60E;
	font-size: 1.4em; 
}

.auto-solver-off strong {
    color: #8188A4;
	font-size: 1.4em; 
}